body {
  font-family: 'Open Sans', sans-serif;
}

.banner {
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}

.navbar {
  border-radius: 0px;
}